
 /*{
    border: black solid 1px;
}*/
body {
    background-image: url(./Images/peakpx.jpg);
    opacity: 100%;
}
header {
    padding: 0px;
    padding-left: 2rem;
}
h1 {
    font-family: 'La Belle Aurore', sans-serif;
    color:#fff;
    font-size: 6rem;
    /*border-bottom: #EB6440 solid 10px;*/
    margin-top: 0rem;
    margin-bottom: 0px;

}

h2 {
    font-family: 'La Belle Aurore', sans-serif;
    color: #fff;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: #fff;
}


/*Nav*/
nav {
    list-style-type: none;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;

}

.nav li {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
    background-color: #2e3272;
    border-radius: 7px;
    margin: .5rem;
}

.nav a {
    color:#fff;
}

.nav li:hover {
    color:#c92e40;
    text-decoration: none;
}

a:hover {
    color:#c92e40;
    text-decoration: none;
}

li {
    color: #fff;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
}



/*Home Page*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front-page {
    max-width: 55%;
    /*background-color: #2e3272;*/
    border-radius: 15px;
    display: flex;
}

.about {
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding: 1rem;
    border-radius: 7px;
    margin-right: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 40rem;
}

#about-title {
    background-color: #2e3272;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding-left: 1rem;
}

.about p {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color:#2e3272;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.skills {
    background-color:#2e3272;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0rem;
    margin-left: 1rem;
}

.skill-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0;

}

.skill-list li {
    list-style-type: none;
    margin-top: .5rem;
}

.skill-list img {
    height: 2rem;
    width: 2rem;
}



/*Projects Page*/
.projects {
    margin-bottom: 5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#projects-title {
    text-align: center;
}

.projects img {
    height: 12rem;
    justify-content: center;
    z-index: 0;
}

.project {
    margin-bottom: 3.5rem;
    align-content: center;
    width: 28rem;
    z-index: 0;
}


/*Contact Page*/
.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
}

.social li, a {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #fff;
}

.social img {
    height: 2rem;
    margin-right: 1rem;
}


h1 {
    font-family: Roboto, sans-serif;
    color:#497174;
    font-size: 3rem;
    border-bottom: #EB6440 solid 10px;
    width: 75%;
    padding-bottom: 1rem;
    margin-bottom: 0px;
}

h2 {
    font-family: Roboto, sans-serif;
    color: #497174;
    font-size: 2rem;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    color: #497174;
}

nav {
    list-style-type: none;
    color: #497174;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.nav li {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-left:#497174 solid 4px;
}

li {
    color: #497174;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #D6E4E5;

}

main {
    display: flex;
    justify-content: center;
}

.left-column {
    width: 45%;
}

.about {
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding-right: 7rem;
}

.projects {
    width: 45%;
}

.skill-list {
    display: flex;
    justify-content: flex-start;

}

.skill-list li {
    list-style-type: none;
    margin-right: 1.2rem;
}

img {
    height: 2rem;
    width: 2rem;
}

